html{
    scroll-behavior: auto !important; /* para deshacer lo que viene por defecto en bootstra */
}

body {
    font-family: Helvetica;
    background-color: #212529;
    color: aliceblue;
}

/* navbar */
.navbar {
    position: fixed;   /* para que el menu de navegación esté fijo */
    width: 100vw;  /* para que recupere la anchura que perdió con fixed */
    z-index: 1
    /* para que siempre se sobreponga sobre cualquier otro elemento, en este caso el hero.section */
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 700;
}

/* Carrucel */

/* Quienes Somos  */
#Quienes-Somos{
    color: azure;
    font-family: "Open Sans";
    justify-content: center
    /* line-height: 3; */
}

/* #Quienes_Somos h2{
    background-color: 
} */

 /* Mis ultimos trabajos */
#Trabajos {
    font-family: "Oswald";
}

#Trabajos h1{
    font-size: 34px;
}

#Trabajos p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
}
.card-body{
    height: 220px;
}

/* Contacto */
#Contacto h1{
    font-family: "Oswald";
    font-size: 52px;
}

/* Footer */
#Footer{
    background-color: #660066;
}

#Footer h1{
    font-family: "Oswald";
}

#Footer a {
    color: white;
    /* elimina lo que aparece al lado del ícono */
    text-decoration: none;
}